<div *ngIf="loading">
    <app-loader></app-loader>
</div>

<main>
    <div id="container">
        <form #addRoom="ngForm" class="form-group && container && color">
            <h3>
                Add Room
            </h3>
            <br>
            <label for="address"> Address</label><br>
            <input type="text" class="color" id="address" [(ngModel)]="room.address" name="address"
                placeholder="Enter the exact location" required #address="ngModel">
            <div class="danger" [hidden]="address.valid || address.pristine">
                required field*
            </div>
            <br><label for="price"> Price</label><br>
            <input type="number" class="color" id="price" [(ngModel)]="room.price" name="price"
                placeholder="Price is in rupees" required #price="ngModel">
            <div class="danger" [hidden]="price.valid || price.pristine">
                required field*
            </div>
            <br><label for="numberOfRoom">Number Of Room</label><br>
            <input type="number" class="color" id="numberOfRoom" [(ngModel)]="room.numberOfRoom" name="numberOfRoom"
                placeholder="Enter the number of rooms" required #numberOfRoom="ngModel">
            <div class="danger" [hidden]="numberOfRoom.valid || numberOfRoom.pristine">
                required field*
            </div>
            <br>Car Parking <input class="color" type="checkbox" (change)="carParkingChanged()">
            <br> Bike Parking <input class="color" type="checkbox" (change)="bikeParkingChanged()">
            <br>

            <label for="image">Choose Image</label><br>
            <input class="color" type="file" name="image" (change)=fileChanged($event) multiple>

            <button [disabled]="addRoom.invalid" class="Button && wide" (click)="submit()">Save Room</button>
        </form>
    </div>
</main>


<!-- <div *ngIf="!loading">
<form #addRoom="ngForm" class="form-group && container" >
    <h3>
        Update Room
    </h3>
    <br>
    <label for="address"> Address</label>
    <input type="text" class="form-control && wide" id="address" [(ngModel)]="room.address" name="address"
        placeholder="Enter the exact location" required #address="ngModel">
    <div class="danger" [hidden]="address.valid || address.pristine">
        required field*
    </div>
    <label for="price"> Price</label>
    <input type="number" class="form-control && wide" id="price" [(ngModel)]="room.price" name="price"
        placeholder="Price is in rupees" required #price="ngModel">
    <div class="danger" [hidden]="price.valid || price.pristine">
        required field*
    </div>
    <label for="numberOfRoom">Number Of Room</label>
    <input type="number" class="form-control && wide" id="numberOfRoom" [(ngModel)]="room.numberOfRoom"
        name="numberOfRoom" placeholder="Enter the number of rooms" required #numberOfRoom="ngModel">
    <div class="danger" [hidden]="numberOfRoom.valid || numberOfRoom.pristine">
        required field*
    </div>
    Car Parking <input class="genwidth" type="checkbox" (change)="carParkingChanged()">
    <br> Bike Parking <input class="genwidth" type="checkbox" (change)="bikeParkingChanged()">
    <br> -->
    <!--  <label for="car">Car Parking </label>
    <input type="radio" id="car" class="genwidth" value="car" [(ngModel)]="room.car" name="car"><br>
    <label for="bike">Bike Parking</label>
    <input type="radio" id="bike" class="genwidth" value="bike" [(ngModel)]="room.bike" name="bike"><br> -->

    <!-- <label for="image">Choose Image</label>
    <input class="form-control" type="file" name="image" (change)=fileChanged($event) multiple> -->

 <!--    <label for="image">Choose Image</label>
    <input class="form-control" type="file" name="image" (change)=fileChanged($event) multiple> -->

    <!-- 
    <label for="image">
        Select Photo</label> <br>
    <input type="file" id="myFile" [(ngModel)]="room.photo" name="img" multiple><br><br>
 -->
   <!--  <button [disabled]="addRoom.invalid" class="btn btn-primary &&  roomButton && wide" (click)="submit()">Save
        Room</button>
</form>
</div> -->