<!-- <h3>Reset Password</h3>
<p>Reset your password here</p>
<form #resetForm="ngForm" class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" [(ngModel)]="data.password" #password="ngModel"
        required>
    <label for="confirmPassword">Confirm Password</label>
    <input class="form-control" type="password" name="confirmPassword" [(ngModel)]="data.confirmPassword" #confirmPassword="ngModel"
        required>

    <button [disabled]="resetForm.invalid" class='btn btn-primary' (click)="submit()">Reset</button>
    <br><a routerLink="/auth/login">Back to Login</a>
</form> -->


<main>
    <div id="container">
<form #resetPasswordForm="ngForm" class="form-group && container">
    <h3>
        Reset Room Finder
    </h3><br>
    <label for="password" class="color" >New Password</label>
    <input type="password" id="password" [(ngModel)]="data.password"
        name="password" required #password="ngModel">
    <div class="danger" [hidden]="password.valid || password.pristine">
        required field*
    </div>
    <label for="confirmPassword" class="color" >Confirm Password</label>
    <input type="password" id="confirmPassword" [(ngModel)]="data.confirmPassword"
        name="confirmPassword" required #confirmPassword="ngModel">
        <div class="danger" [hidden]="confirmPassword.valid || confirmPassword.pristine">
            required field*
        </div>

    <button [disabled]="resetPasswordForm.invalid" class="resetButton && wide &&" (click)="submit()">Reset</button>

    <p class="color">Remember a password?
        <a routerLink="/login">Sign In</a>
    </p>
</form>

    </div>
    </main>

