<!-- <div *ngIf="loading"><app-loader></app-loader></div>
<div *ngIf="!loading">
    {{room.address}}
    {{room.price}}
    {{room.numberOfRoom}}
    {{room.carParking}}
    {{room.bikeParking}}
    {{room.image}}
</div> -->
<!-- 
<div *ngIf="loading"><app-loader></app-loader></div>
<div *ngIf="!loading">
    {{room.address}}
    {{room.price}}
    {{room.numberOfRoom}}
    {{room.carParking}}
    {{room.bikeParking}}
    {{room.image}}
</div> -->
<!-- <div class="color">
    
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="{{imageUrl}}{{room.image[0]}}" alt="" width="100%">
                <div class="small-img-row">
                    <div class="small-img-col">
    <img src="{{imageUrl}}{{room.image[1]}}" alt="">
                    </div>
                    <div class="small-img-col">
    <img src="./../../../assets/room_img/1.jpg" alt="">
                        
                    </div>
                    <div class="small-img-col">
    <img src="./../../../assets/room_img/3.jpg" alt="">
                        
                    </div>
                </div>
            </div>
            <div class="col-2">
                <h3>Room Description <i class="fa faident"></i></h3>
                <br>
                <p>Unstoppable Artists founder Dr. Monroe Mann knows the ins and outs of psychology, education, and writing--from screenplays, poems, and novels to songwriting, non-fiction, and memoirs! If you want to write a novel, write an essay, write a screenplay, or just learn </p>
            <div class="paragraph">
                <p>Rs.{{room.price}}</p>
            </div>
            <div class="paragraph">
                <p>Location:{{room.address}}</p>
            </div>
            <div class="paragraph"> 
                <p>No of Room:{{room.numberOfRoom}}</p>
            </div>
            <div class="btnn">
                <button class="i3" routerLink="">Book  </button>
                <button class="i3" routerLink="">Add to Cart  </button>
    
            </div>
            
    
         </div>
     </div>
     </div>
    </div> -->



    <!-- <!DOCTYPE html>
<div *ngIf="loading">
    <app-loader></app-loader>
</div>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./home.component.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body *ngIf="!loading">

    <div class="room-detail">
        <div class="container">
            <div class="room-detail-left">
                <div class="sp-loading">
                    <img src="/src/assets/room_img/loading.gif">
                    loading Images
                </div>
                <div class="sp-wrap">
                    <a href="/src/assets/room_img/1.jpg" ><img src="/src/assets/room_img/1.jpg"></a>
                    <a href="/src/assets/room_img/1.jpg" ><img src="/src/assets/room_img/1.jpg"></a>
                    <a href="/src/assets/room_img/1.jpg" ><img src="/src/assets/room_img/1.jpg"></a>

                </div>
            </div>
            <div class="room-detail-right"></div>
            <h3>Description</h3>
            <div class="roomViewBoxDetail">
                <h5><b>Price :</b> Rs.{{room.price}}</h5>
                <h5><b>Location :</b>{{room.address}}</h5>
                <h5><b>No of Room:</b>{{room.numberOfRoom}}</h5>
                <a href="#" class="addToCart" ><i class="fas fa-heart"></i>Add To cart</a>
                <a href="#" class="book" ><i class="fas fa-heart"></i>Book</a>

            </div>

        </div>

    </div>


</body>
</html> -->