<h3>Forgot Password?</h3>
<p>Please enter your email to reset your password</p>
<form class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" placeholder="Email" [(ngModel)]="email" name="email">

    <button class="btn btn-primary" *ngIf="!submitting" (click)="submit()">Submit</button>
    <button disabled class="btn btn-info" *ngIf="submitting">Submitting...</button>
    <br>
    <p>Remember Password?</p>
    <a routerLink="/auth/login">Back to Login.</a>
</form>