<h3>View Room</h3>
<section *ngIf="loading">
    <app-loader></app-loader>
</section>

<table *ngIf="!loading" class="table table-bordered">
    <thead>
        <tr>
            <th>S.N.</th>
            <th>Number of room</th>
            <th>Price</th>
            <th>Address</th>
            <th>Car Parking</th>
            <th>Bike Parking</th>
            <th>Images</th>
            <th *ngIf="isLoggedIn()">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let room of rooms;let i =index">
            <td>{{i+1}}</td>
            <td>{{room.numberOfRoom}}</td>
            <td>{{room.price}}</td>
            <td *ngIf="room.address">{{room.address}}</td>
            <td *ngIf="!room.address">N/A</td>
            <td>{{room.carParking}}</td>
            <td>{{room.bikeParking}}</td>
            <td *ngIf="room.image">
                <div *ngFor="let img of room.image"><!-- {{room.image}} -->
                    <img src="{{imageUrl}}{{img}}" alt="" width="200">
                </div>
            </td>
            <td *ngIf="!room.image">N/A</td>
            <td *ngIf="isLoggedIn()">
                <button routerLink="/room/edit/{{room._id}}" class="btn btn-primary">Edit</button>
                <button (click)="removeRoom(room._id)" class="btn btn-danger">Delete</button>
            </td>
            
        </tr>
    </tbody>

</table>
<app-footer></app-footer>