.small-container{
    display: flex;
    background-color: rgb(253, 251, 251);
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-evenly ;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
}


.col-4{
    padding: 10px;
    min-width: 300px;
    margin-bottom: 50px;
    text-align: center;
    padding: 40px 20px;

    box-shadow: 0 0 20px 0px rgba(10, 10, 10, 0.5);
    cursor: pointer;
    transition:transform 0.5s ;
}
.col-4:hover{
transform: translateY(-10px);
}
.col-4 img{
   width: 250px;
    height: 250px;
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 17px;
    color: rgb(31, 30, 30);

}