<!DOCTYPE html>
<div *ngIf="loading">
    <app-loader></app-loader>
</div>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./home.component.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="./../../../assets/css/bootstrap.css"> -->

</head>

<body *ngIf="!loading">
  <!--   <header>
        <div class="navbar"> -->
            <!-- <div class="box"> -->
            <!-- <div class="logo" (click)="onClick()">

                <h1>
                    <a routerLink="/home"> RoomF<span class="dot"></span></a>
                </h1>
            </div>
            <div class="header__search">
                <input type="text" class="header__searchInput">
                <button class="btn2"> <i class="fa fa-search"> </i>
                </button>
            </div>

            <nav>
                <ul> -->
                    <!-- <li><a href="">Home</a></li> -->
                  <!--   <li><a href="">Explore</a></li>
                    <li><a href="" routerLink="/auth/login">Sign In</a></li>

                </ul>

                <div class="header__join">
                    <button class="btn" routerLink="/auth/register">Join</button>

                </div>
            </nav> -->
            <!-- <img src="./../../../assets/im age logo/cart.jpeg" width="25px" height="25px" > -->

        <!--     <img src="./../../../assets/image logo/menu.png" class="menu">

        </div> -->

        <!-- </div> -->
    <!-- </header> -->


    <section>
        <div class="box">

            <div class="container">
                <div class="outer">
                    <div class="detail">
                        <h1>
                            Room Finder
                        </h1>

                        <p>Find the perfect room for your Living</p>
                        <div class="header_search">
                            <input type="text" class="search__text">
                            <button class="search__butn">search </button>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box">
            <div class="color">
                <div class="row">
                    <div class="col-2">
                        <h1> Easy medium to find room !!</h1>
                        <p>with your registration you have access to all the available best room around the country with
                            their all facility and location </p>
                        <button class="i3" routerLink="/auth/register">Get started &#10174; </button>

                    </div>
                    <div class="col-2">
                        <img src="./../../../assets/room_img/6.jpg" alt="" class="image6">

                    </div>
                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="box">
            <div class="color">
                <div class="row">
                    <div class="col-2">
                        <img src="./../../../assets/room_img/5.jpg" alt="" class="image6">

                    </div>
                    <div class="col-2">
                        <h1> Earn from your empty room !!</h1>
                        <p>with your registration you have access to add all the available best room around the country
                            with their all facility,priceing and location </p>
                        <button class="i3" routerLink="/auth/register">Get started &#10174; </button>

                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- categories -->
    <section>
        <div class="box">
            <div class="categories">
                <div class="small-container">
                    <h2 class="title">Categories</h2>
                    <div class="row">
                        <div class="col-3">
                            <img src="./../../assets/cato/1.jpg" alt="">
                        </div>
                        <div class="col-3">
                            <img src="./../../assets/cato/2.jpg" alt="">
                        </div>
                        <div class="col-3">
                            <img src="./../../assets/cato/3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- featured roomes -->

    <section>
        <div class="box">
            <div class="small-container">
                <h2 class="title"><a routerLink="/room/list"> Featured Rooms</a></h2>
                <div class="row">
                    <div class="col-4">
                        <img src="{{imgUrl}}{{rooms[0].image[0]}}" alt="">
                        <h4>{{rooms[0].address}}</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>

                        </div>
                        <p>NPR:{{rooms[0].price}}</p>
                    </div>
                    <div class="col-4">
                        <img src="{{imgUrl}}{{rooms[1].image[0]}}" alt="">
                        <h4>{{rooms[1].address}}</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>
                        <p>NPR:{{rooms[1].price}}</p>
                    </div>
                    <div class="col-4">
                        <img src="{{imgUrl}}{{rooms[2].image[0]}}" alt="">
                        <h4>{{rooms[2].address}}</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>

                        </div>
                        <p>NPR:{{rooms[2].price}}</p>
                    </div>
                    <div class="col-4">
                        <img src="{{imgUrl}}{{rooms[3].image[0]}}" alt="">
                        <h4>{{rooms[3].address}}</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p>NPR:{{rooms[3].price}}</p>
                    </div>
                </div>
               <h5> <a routerLink="/room/list">View More Room...</a></h5>
            </div>
        </div>
           </section>

    <!-- testimonial -->
    <section>
        <div class="box">
            <div class="testimonial">
                <div class="small-container">
                    <h2 class="title">Our Developer</h2>
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-quote-left"></i>
                            <p>
                                Hi my name is Andy and I am topper.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>

                            </div>
                            <img src="./../../../assets/t image/amr.jpg" alt="">
                            <h3>Andy </h3>
                        </div>
                        <div class="col-4">
                            <i class="fa fa-quote-left"></i>
                            <p>
                                Hi my name is SuKul GuNda and I am Fat.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>

                            </div>
                            <img src="./../../../assets/t image/sukul.jpg" alt="">
                            <h3>SuKul </h3>
                        </div>
                        <div class="col-4">
                            <i class="fa fa-quote-left"></i>
                            <p>
                                Hi my name is ACEJEE and I am RIDER.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>

                            </div>
                            <img src="./../../../assets/t image/acejee.jpg" alt="">
                            <h3>ACEJEE </h3>
                        </div>
                        <div class="col-4">
                            <i class="fa fa-quote-left"></i>
                            <p>
                                Hi my name is DK-BOSS and They are my Assistant .
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>

                            </div>
                            <img src="./../../../assets/t image/dk.jpg" alt="">
                            <h3>DK </h3>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>


    <!-- brands -->



    <section>
        <div class="box">
            <div class="brands">

                <div class="small-container">
                    <h2 class="title">Links</h2>
                    <!-- <div class="row"> -->
                    <div class="col-5">
                        <img src="./../../../assets/image logo/2.jpeg" alt="">
                    </div>
                    <div class="col-5">
                        <img src="./../../../assets/image logo/6.png" alt="">
                    </div>
                    <div class="col-5">
                        <img src="./../../../assets/image logo/3.png" alt="">
                    </div>a
                    <div class="col-5">
                        <img src="./../../../assets/image logo/4.png" alt="">
                    </div>
                    <div class="col-5">
                        <img src="./../../../assets/image logo/5.png" alt="">
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</body>
</html>