<main>
    <div id="container">
        <form #loginForm="ngForm" class="form-group && container && color">
            <h3>
                Sign In Room Finder
            </h3><br>

            <!-- <div class="g-signin2 " data-onsuccess="onSignIn"></div> -->
            <label for="username" class="color">Username</label>
            <input type="text" id="username" [(ngModel)]="user.username" name="username" required #username="ngModel">
            <div class="danger" [hidden]="username.valid || username.pristine">
                required field*
            </div>
            <label for="loginpassword" class="color">Password</label>
            <input type="password" id="password" [(ngModel)]="user.password" name="password" required
                #password="ngModel">
            <div class="danger" [hidden]="password.valid || password.pristine">
                required field*
            </div>
            <button [disabled]="loginForm.invalid" class="Button && wide" (click)="login()">login</button>
            <hr>
            <p>Don't have an account?</p>
            <p><a routerLink="/auth/register">Register Here</a></p>
            <p><a routerLink="/auth/forgot-password">Forgot Password?</a></p>
        </form>

    </div>
</main>