<!-- <h3>Search Room</h3>
<form *ngIf="!result" #searchForm="ngForm" class="form-group">
    <label for="address">Address</label>
    <select class="form-control" [(ngModel)]="room.address" name="address">
        <option disabled>(Select Address)</option>
        <option *ngFor="let loc of locations" [value]='loc'>{{loc}}</option>
    </select>

    <label for="minPrice">Minimum Price</label>
    <input class="form-control" type="number" name="minPrice" [(ngModel)]="room.minPrice">

    <label for="maxPrice">Maximum Price</label>
    <input class="form-control" type="number" name="maxPrice" [(ngModel)]="room.maxPrice">

    <button class="btn btn-primary" [disabled]="searchForm.invalid" *ngIf="!submitting"
        (click)="search()">Search</button>
    <button class="btn btn-info" disabled *ngIf="submitting">Searching</button>
</form>

<div *ngIf="result">
    <app-list-room [data]="searchResult"></app-list-room>
</div> -->

<main *ngIf="!result">
    <div id="container">
        <form #searchForm="ngForm" class="form-group && container">
            <h3>
                Search Room
            </h3><br>
            <label for="address" class="color">Address</label>
            <input type="text" id="address" [(ngModel)]="room.address" name="address"
                placeholder="Enter the exact address" #address="ngModel">

            <label for="maxPrice" class="color">Maxmium Price</label>
            <input type="number" id="maxPrice" [(ngModel)]="room.maxPrice" name="maxPrice"
                placeholder="Enter the maximum price of room" #maxPrice="ngModel">

            <label for="minPrice" class="color">Minimum Price</label>
            <input type="number" id="minPrice" [(ngModel)]="room.minPrice" name="minPrice"
                placeholder="Enter the minimum price of room" #minPrice="ngModel">

            <button [disabled]="searchForm.invalid" *ngIf="!submitting" class="resetButton && wide && color"
                (click)="search()">Search
                Room</button>
            <button disabled *ngIf="submitting" class="resetButton && wode && color">Searching....</button>
        </form>


    </div>
</main>
<div *ngIf="result">
    <div *ngIf="result"><h5><a (click)="searchAgain()">Search Again.</a></h5></div>
    <app-list-room [data]="searchResult"></app-list-room>
</div>






<!-- <form #Searchroom="ngForm" class="form-group && container">
    <h3>
        Search Room As Per Your Need
    </h3>
    <br>
    <label for="address"> Address</label>
    <input type="text" class="form-control && wide" id="address" [(ngModel)]="user.address" name="address" placeholder="Enter the exact location" required
        #address="ngModel">
    <div class="danger" [hidden]="address.valid || address.pristine">
        required field*
    </div>
      
    <label for="maxprice">Maximum Price</label>
    <input type="number" class="form-control && wide" id="maxprice" [(ngModel)]="user.maxprice" name="maxprice"
        placeholder="Enter the maximum price of room" required #maxprice="ngModel">
    <div class="danger" [hidden]="maxprice.valid || maxprice.pristine">
        required field*
    </div>
    <label for="minprice"> Price</label>
    <input type="number" class="form-control && wide" id="minprice" [(ngModel)]="user.minprice" name="minprice"
        placeholder="Enter the minimum price of room" required #minprice="ngModel">
    <div class="danger" [hidden]="minprice.valid || minprice.pristine">
        required field*
    </div>
    <button [disabled]="Searchroom.invalid" class="btn btn-primary &&  roomButton && wide"
        (click)="search()">Search Room</button> -->