.about{
    margin-top: 125px;
    margin:125px 30px 30px;
}
.about img{
    height: 100px;
    width: 80px;
    margin-bottom: 20px;
    display: flex;
    float: left;
}
.about h3{
    
    font: 15px/1.5 Arial, Helvetica , sans-serif;

}