<!-- <ul>
    <li>
        <a *ngIf="isLoggedIn()" routerLink="/user/profile">Profile</a>
    </li>
    <li>
        <a *ngIf="isLoggedIn()" routerLink="/room/add">Add Room</a>
    </li>
    <li>
        <a routerLink="/room/list">View Room</a>
    </li>
    <li>
        <a routerLink="/room/search">Search Room</a>
    </li>
    <li>
        <a *ngIf="isLoggedIn()" (click)="logOut()" routerLink="/auth/login">Logout</a>
        <a *ngIf="!isLoggedIn()" routerLink="/auth/login">Login</a>
    </li>
</ul> -->

<div class="navbar" *ngIf="navBar">
    <div class="logo" (click)="homeWent()" >

        <h1>
            RoomF<span class="dot">.</span> 
        </h1>
    </div>
    <nav>
        <ul>
            <li><a href="">add room</a></li>
            <li><a href="">view room</a></li>
            <li><a href="">profile</a></li>



            
        </ul>
    
    </nav>
    <div class="header__join">
        <button class="btn"  (click)="toogle()">switch to  renter </button>
   
    </div>

    <img src="./../../assets/image logo/menu.png" class="menu" >

</div> 

<!-- Toogling -->
<div class="navbar" *ngIf="!navBar" (click)="homeWent()">
    <div class="logo" >

        <h1>
            RoomF<span class="dot">.</span> 
        </h1>
    </div>
    <div class="header__search">
        <input type="text" class="header__searchInput">
        <button class="btn2" > <i class="fa fa-search" >  </i>
        </button>
    </div>
    <div>
        <img src="./../../assets/image logo/cart.jpeg" class="cart" width="25px" height="25px">

    </div>
    
    <nav>
        <ul>
            <li><a href="">notification</a></li>
            <li><a href="">order</a></li>

            
        </ul>
    
    </nav>
    <div class="header__join">
        <button class="btn" (click)="toogle()">switch to landlord</button>
   
    </div>

    <img src="./../../assets/image logo/menu.png" class="menu" >

</div> 