<!-- <ul>
    <li>
        <a *ngIf="isLoggedIn()" routerLink="/user/profile">Profile</a>
    </li>
    <li>
        <a *ngIf="isLoggedIn()" routerLink="/room/add">Add Room</a>
    </li>
    <li>
        <a routerLink="/room/list">View Room</a>
    </li>
    <li>
        <a routerLink="/room/search">Search Room</a>
    </li>
    <li>
        <a *ngIf="isLoggedIn()" (click)="logOut()" routerLink="/auth/login">Logout</a>
        <a *ngIf="!isLoggedIn()" routerLink="/auth/login">Login</a>
    </li>
</ul> -->
<div *ngIf="!isLoggedIn()">
    <header>
        <div class="navbar">
            <!-- <div class="box"> -->\
            <div class="logo">

                <h1>
                    <a routerLink="/home"> RoomF<span class="dot">.</span></a>
                </h1>
            </div>
            <div class="header__search">
                <input type="text" class="header__searchInput">
                <button class="btn2"> <i class="fa fa-search"> </i>
                </button>
            </div>

            <nav>
                <ul>
                    <!-- <li><a href="">Home</a></li> -->
                    <li><a href="">Explore</a></li>
                    <li><a href="" routerLink="/auth/login">Sign In</a></li>

                </ul>

                <div class="header__join">
                    <button class="btn" routerLink="/auth/register">Join</button>

                </div>
            </nav>
            <!-- <img src="./../../../assets/im age logo/cart.jpeg" width="25px" height="25px" > -->

            <img src="./../../../assets/image logo/menu.png" class="menu">

        </div>

        <!-- </div> -->
    </header>
</div>


<section *ngIf="isLoggedIn()">
    <div class="navbar" *ngIf="navBar">
        <div class="logo" (click)="homeWent()" >
    
            <h1 >
               <a routerLink='/home'>RoomF<span class="dot">.</span></a>  
            </h1>
        </div>
        <nav>
            <ul>
                <li><a routerLink="/room/add">Add room</a></li>
                <li><a routerLink="/room/list">View room</a></li>
                <li><a routerLink="/user/profile">profile</a></li>
                <li><a routerLink="/room/search">Search Room</a></li>
                <li><a routerLink="/auth/login" (click)="logOut()">Log Out</a></li>
    
    
    
                
            </ul>
        
        </nav>
        <div class="header__join">
            <button class="btn"  (click)="toogle()">switch to  renter </button>
       
        </div>
    
        <img src="./../../assets/image logo/menu.png" class="menu" >
    
    </div> 

    
<!-- Toogling -->

<!--  -->
<div class="navbar" *ngIf="!navBar" (click)="homeWent()">
    <div class="logo" (click)="onClick()">

        <h1>
            <a routerLink=""> RoomF<span class="dot">.</span></a>
        </h1>
    </div>
    <div class="header__search">
        <input type="text" class="header__searchInput">
        <button class="btn2" > <i class="fa fa-search" >  </i>
        </button>
    </div>
    <div>
        <img src="./../../assets/image logo/cart.jpeg" class="cart" width="25px" height="25px">

    </div>
    
    <nav>
        <ul>
            <li><a href="">notification</a></li>
            <li><a href="">order</a></li>

            
        </ul>
    
    </nav>
    <div class="header__join">
        <button class="btn" (click)="toogle()">switch to landlord</button>
   
    </div>

    <img src="./../../assets/image logo/menu.png" class="menu" >

</div> 
</section>