<div *ngIf="view">
    <img src="" width="200">
    <br>
    <p>Profile Picture</p>
    <p>Name: {{user.name}}</p>
    <p>Username:{{user.username}}</p>
    <p>Email Address:{{user.email}}</p>
    <p>Phone Number:{{user.phone}}</p>
    <p>Gender:{{user.gender}}</p>
    <p>Date of Birth:{{user.dob}}</p>
    <button class="btn btn-primary" (click)="viewChanged()">Edit Profile</button>
</div>
<div *ngIf='!view'>
    <h4>Edit Profile</h4>
    <br>
    <form #editForm="ngForm" class="form-control" novalidate>
        <label for="name">Name</label>
        <input class="form-control" type="text" placeholder="Name" [(ngModel)]="user.name" name="name" #name="ngModel"
            required>

        <label for="username">Username</label>
        <input class="form-control" type="text" placeholder="Username" [(ngModel)]="user.username" name="username"
            #username="ngModel">

        <label for="password">Password</label>
        <input class="form-control" type="password" placeholder="Password" [(ngModel)]="user.password" name="password"
            #password="ngModel" required>

        <label for="email">Email Address</label>
        <input class="form-control" type="text" placeholder="Email Address" [(ngModel)]="user.email" name="email"
            #email="ngModel">

        <label for="phone">Mobile Number</label>
        <input class="form-control" type="number" placeholder="Mobile Number" [(ngModel)]="user.phone" name="phone"
            #phone="ngModel" required>

        <label for="gender">Gender</label>
        <input class="form-control" type="text" placeholder="Gender" [(ngModel)]="user.gender" name="gender"
            #gender="ngModel">

        <label for="dob">Date of Birth</label>
        <input class="form-control" type="date" [(ngModel)]="user.dob" name="dob" #dob="ngModel">

        <button [disabled]="editForm.invalid" *ngIf="!submitting" class="btn btn-primary"
            (click)="edit()">Update</button>
        <button disabled *ngIf="submitting" class="btn btn-info">Updating...</button>
    </form>
</div>